<h1>Documentação</h1>
<p>Esse sistema foi desenvolvido por <b>Antonio Celso de Freitas Malaquias Filho.</b> e só poderá ser comercializado com autorização do mesmo. Todos os direitos reservados.</p><br />

<p>O Sistema terá como principio controlar e armazenar dados específico e técnico, de vários equipamentos (veículos, máquinas pesadas e caminhões), duma determinada empresa (cliente/contratante), sendo monitorada pelo administrador do sistema (clientes cadastrados/contratado) e gerenciada pelo moderador do site (técnico responsável).</p><br />

<p>O sistema do site CONTROMAQ gerencia os documentos dentro do banco de dados, onde somente os usuários logados terão permissão para inserir, excluir, imprimir, modificar, solicitar, salvar, consultar e anexar estes documentos. Neste caso, somente o moderador do site poderá efetuar o cadastro. Caso o usuário esqueça sua senha, o moderador (usuário administrador ou o usuário cadastrado como empresa) deverá fazer essa alteração e informar a nova senha ao usuário, onde a mesma poderá ser enviada para o e-mail só usuário cadastrado no sistema, solicitando e justificando o motivo de resgatar ou pedi uma nova senha, e o moderador do site liberará uma senha para o usuário.</p>
